<head>
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="profile-container">
            <h1 class="profile-greeting">Hi! <%= username %> </h1>
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>